.context-menu-modal {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

.context-menu {
    position: fixed;
    display: inline-flex;
    flex-direction: column;
    background: var(--background);
    border-radius: 10px;
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.2));
    padding: 5px;
    min-width: calc(0.25rem * 45);
}

.context-menu button {
    padding: 10px;
    opacity: 0.7;
    text-align: left;
}

.context-menu button:disabled {
    opacity: 0.2;
}

.context-menu button:focus {
    opacity: 1;
}

.context-menu button > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.context-menu button .right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.context-menu button .list {
    width: calc(0.25rem * 5);
    height: calc(0.25rem * 5);
}

.context-menu-separator {
    padding: 2px;
}