html {
    font-family: var(--font);
    color: var(--foreground);
    background: linear-gradient(-180deg, var(--background-start) 0, var(--background-end) 35%) fixed;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    user-select: none;
}

h1, h2, h3 {
    font-family: var(--title-font);
    font-weight: lighter;
}

/* Don't change font size in headers. */
h1 code, h2 code, h3 code, h4 code, h5 code, h6 code {
    font-size: unset;
}

code, pre {
    font-family: var(--code-font);
}