html {
    font-family: var(--font);
    color: var(--foreground);
    background: linear-gradient(-180deg, var(--background-start) 0, var(--background-end) 35%) fixed;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    user-select: none;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: var(--title-font);
    font-weight: lighter;
}

/* Don't change font size in headers. */
h1 code, h2 code, h3 code, h4 code, h5 code, h6 code {
    font-size: unset;
}

code, pre {
    font-family: var(--code-font);
}

button {
    outline: 0;
    border: none;
    background: none;
    color: var(--foreground);
    font-family: var(--title-font);
    font-size: calc(0.25rem * 3);
    font-weight: lighter;
}

html::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

html::-webkit-scrollbar,
html::-webkit-scrollbar-track,
html::-webkit-scrollbar-button {
    background: var(--background);
}

html::-webkit-scrollbar-thumb {
    background: var(--foreground);
    border-radius: 5px;
    opacity: 0.4;
}