#navigationBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: calc(0.25rem * 4);
}

#navigationBar > #left {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: calc(0.25rem * 10);
}

#navigationBar > #right {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: calc(0.25rem * 2);
}

#navigationBar #logo {
    font-family: var(--title-font);
    font-size: calc(0.25rem * 5);
    font-weight: lighter;
}

.navigation-bar-button {
    background: none;
    border: none;
    color: var(--foreground);
    font-family: var(--title-font);
    font-size: calc(0.25rem * 3);
    font-weight: lighter;
    opacity: 0.7;
    padding: calc(0.25rem * 2);
}

#navigationBar > #right button {
    padding: calc(0.25rem * 3);
}

.navigation-bar-button:hover {
    opacity: 1;
}